<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SV Mirage Movies</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.10/angular-resource.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="../js/app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="parent" ng-controller="mainCtrl as vm">
        <div class="title">
            <h1>List of Movies</h1>
        </div>
        Search by title:<br/>

        <form name="myForm">
            <input type="text" ng-model="vm.search" id="search">
            <button type="button" ng-click="vm.clear();">Clear</button>
        </form>
        
        <small>Number of Movies ({{vm.movies.length}}) of ({{ vm.count.length }})</small><br/><br/>
        
        <ul class="movies">
            <li ng-repeat="movie in vm.movies = (movies | filter: vm.search) | orderBy: 'name'" class={{movie.selected}}>{{ movie.name }} <span class="volume">{{ movie.volume ? 'V:' + movie.volume : '' }} &nbsp; {{ movie.disk ? 'D:' + movie.disk : '' }}</span></li>
            <li ng-if="!vm.movies.length"><span class="noRecords">No Record Found.</span></li> 
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>